// Configuration file with defaults for job submission on M3 HPC

// Environment Management
conda.enabled = true

// Default slurm executor options
executor.$slurm.pollInterval = '10 sec'
executor.$slurm.queueStatInterval = '5m'
executor.$slurm.queueSize = 96

// Default local executor options
executor.$local.queueSize = 1

// Process configuration
process {

    // Global beforeScript directive for conda setup
    beforeScript = "source /projects/pe41/Software/conda_setup.sh"

    // Setting process executor
    //executor = "local"
    executor = "slurm"

    // Pipeline error handling config
    // process.errorStrategy = "terminate"  // Default: Kill remaining jobs and shut down pipeline on error
    // errorStrategy = "finish"  // Allow remaining jobs to complete/fail before shutting down pipeline
    errorStrategy = "retry"
    maxRetries = 2

    // Generic Process Config
    cpus = 2
    memory = "6 GB"
    time = "10m"
    clusterOptions = {
        fixedoptions = "--account=pe41 --job-name=pm_nf_somatic --ntasks=1"
        qos = task.time <= 30.minutes ? 'shortq' : 'normal'
        partition = task.time <= 30.minutes ? 'short,comp' : 'comp'
        return "${fixedoptions} --qos=${qos} --partition=${partition}"
    }

    // Label-Specific Process Config
    // - Applied to any process with a matching label directive
    // - Overrides generic config
    withLabel: gatkshort {
        cpus = 4
        memory = "8 GB"
    }

    // Name-Specific Process Config
    // - Applied to specific process by name
    // - Overrides generic and label config
    withName: alignBwaSortSam { memory = "16 GB" }
    withName: callVarDict { cpus = 4 }
}


